[defaults]
# Enable the plugin
callbacks_enabled = community.general.loki
# Stop SSH panics if IPs change
host_key_checking = False

[callback_loki]
# Since we can't inject this via Morpheus, we hardcode the lab IP here.
# (This is perfectly safe for a public repo, as it's just a local lab IP, not a secret)
url = http://10.202.52.109:3100
