[defaults]
callback_plugins  = ./callback_plugins
filter_plugins    = ./filter_plugins
callbacks_enabled = loki_push, timer
host_key_checking = False

[callback_loki_push]
loki_url     = http://chaker-loki-grafana:3100
loki_timeout = 5